#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 95vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.custom-container {
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 100%;
  margin: 0 auto;
}

/* Loại bỏ padding và giới hạn width cho trang có form */
.login-page .custom-container {
  padding: 0;
  max-width: 100%;
  width: 900px;
}

/* Overrides for smaller screens */
@media (max-width: 768px) {
  .custom-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* Mobile optimizations */
@media (max-width: 576px) {
  .app-container {
    padding: 0;
  }
}
